<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PŁife</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://kit.fontawesome.com/7e1322b5f9.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="header_container container">
        <div class="nav">
            <a href="/" class="logo">
                <img src="/images/logo.png" height="20px"width="57px"alt="">
            </a>
            <ul class="menu">
                <% links.forEach((link)=> { %>
                    <li>
                        <a href="<%= link.href %>" id="<%= link.id %>" class="<%= link.class%>"><%= link.text%></a>
                    </li>
                <% }) %>
            </ul>
            <div class="nav2">
                <a class="login">
                    <img src="/images/userImage.png" height="28px"width="28px" alt=""><p>Log in</p>
                </a>
            </div>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="dropdown_menu">
                <div class="xmark_btn"> <i class="fa-solid fa-xmark"></i></div>
                <li>
                    <a href="/" class="active">Home</a>
                </li>
                <li>
                    <a href="/posts">Posts</a>
                </li>
                <li>
                    <a href="/plan">Plan</a>
                </li>
                <li>
                    <a href="/map">Map</a>
                </li>
                <li class="login_1">
                    <a class="login_dropdown"><i class="fa-regular fa-user"></i><p>Log in</p></a>
                </li>
                <footer>
                    <p class="copyright">Copyright © <%=new Date().getFullYear()%> </p>
                </footer>
            </div>
        </div>
    </div>
</header>
<section class="login_section">
    <div class="form_container">
        <i class="fa-solid fa-xmark form_close"></i>
        <div class="form login_form">
            <form method="post" action= "http://localhost:3000/login">
                <h2>Login</h2>
                <div class="input-box first">
                    <span class="icon"><i class="fa-solid fa-envelope uname"></i></span>
                    <input type="text" name="uname" required id="uname">
                    <label for="uname">Username</label>
                </div>
                <div class="input-box">
                    <span class="icon"><i class="fa-solid fa-lock"></i></span>
                    <input type="password" name="psw" required id="psw">
                    <label for="psw">Password</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox"> Remember me</label>
                    <a href="#">Forgot Password?</a>
                </div>
                <button type="submit">Login</button>
                <div class="register-link">
                    <p>Don't have an account? <a href="#" class="register-l">Register</a></p>
                </div>
            </form>
        </div>
        <div class="form register_form">
            <form action="/register" method="post">
            <h2>Registration</h2>
            <div class="input-box first">
                <span class="icon"><i class="fa-solid fa-lock"></i></span>
                <input type="number" name="UserUniversityID" required id="UserUniversityID">
                <label  for="UserUniversityID">University ID</label>
            </div>
            <div class="input-box">
                <span class="icon"><i class="fa-solid fa-lock"></i></span>
                <input type="text" name="UserFirstName" required id="UserFirstName">
                <label for="UserFirstName">First Name</label>
            </div>
            <div class="input-box">
                <span class="icon"><i class="fa-solid fa-lock"></i></span>
                <input type="text" name="UserLastName" required id="UserLastName">
                <label for="UserLastName">Last Name</label>
            </div>
            <div class="input-box">
                <span class="icon"><i class="fa-solid fa-lock"></i></span>
                <input type="password" name="UserPassword" required id="UserPassword">
                <label for="UserPassword">Password</label>
            </div>
            <button type="submit">Register</button>
            <div class="login-link">
                <p>Already have account? <a href="#" class="login-l">Login</a></p>
            </div>
        </form>
        </div>
    </div>
</section>

<main>